<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sqrcomplexnumbers">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SqrComplexNumbers">
        <activity android:name=".SqrtActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"/>
        <activity android:name=".DivideActivity" />
        <activity android:name=".MultiplyActivity" />
        <activity android:name=".SubtractionActivity" />
        <activity android:name=".AdditionActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SqrActivity" />
    </application>

</manifest>